.landing-hero-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  .landing-btn-wrapper {
    height: auto;
    font-size: 14px;

    a {
      margin-right: 5px;
      &:last-of-type {
        margin-right: 0;
        margin-left: 5px;
      }
    }
  }
  .landing-git-link {
    margin-top: 15px;
    opacity: 0.95;
    font-size: 14px;
    @media screen and (min-width: 1000px) {
      display: none;
    }
    a {
      padding: 10px;
      margin: -10px;
      color: $dark-grey;
      &:active {
        color: $blue;
      }
      ion-icon {
        transform: scale(1.5);
        margin-left: 3px;
      }
    }
  }
}
