.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 115px);
  flex-direction: column;
  overflow-y: hidden;

  @media screen and (min-width: 1000px) {
    justify-content: center;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
  }
  @media screen and (orientation: landscape) and (max-height: 600px) {
    margin: 15px auto;
  }
  .landing-hero {
    height: fit-content;
    width: fit-content;
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1000px) {
      margin-top: 0;
    }
    @media (prefers-reduced-motion: reduce) {
      opacity: 1;
      top: 20px !important;
    }
    .landing-title {
      margin-bottom: 25px;
      @media screen and (min-width: 1000px) {
        font-size: 1.75rem;
      }
      h1 {
        span {
          color: $red;
        }
      }
    }
  }
}
