.portfolio {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  overflow-y: scroll;
  position: relative;
  margin-bottom: 35px;
  display: block;
  z-index: 3;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @media screen and (min-width: 1000px) {
    height: 100vh;
  }
  @media screen and (min-width: 1300px) {
    width: 90%;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
