.portfolio {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  min-height: 100vh;
  z-index: 3;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  .section-title {
  }
  @media screen and (min-width: 1000px) {
    height: 100vh;
  }
  @media screen and (min-width: 1300px) {
    width: 90%;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
