.portfolio {
  width: 90%;
  margin: 0 auto;
  overflow-y: scroll;
  position: relative;
  display: block;
  z-index: 3;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @media screen and (min-width: 1000px) {
    height: 100vh;
  }
  @media screen and (min-width: 1300px) {
    width: 90%;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .portfolio-body-wrapper {
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.35s ease;
    &.active {
      opacity: 1;
    }
    @media screen and (min-width: 1000px) {
      width: 90%;
      padding-bottom: vh(25, $design-height-desktop);
    }
    @media screen and (min-width: 1300px) {
      width: 100%;
    }
    .portfolio-project-wrapper {
      margin: vh(50) auto;
      @media screen and (min-width: 1000px) {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: vh(200, $design-height-desktop) 0;

        &:nth-of-type(odd) {
          flex-direction: row-reverse;

          .portfolio-project-body {
            margin-right: vw(20, $design-width-desktop);
            margin-left: 0;
          }
        }
      }
      @media screen and (orientation: landscape) {
        margin: 75px 0;
      }

      .portfolio-project-img {
        width: 100%;
        height: auto;
        @media screen and (min-width: 1000px) {
          flex-basis: 50%;
          max-height: 500px;
          max-width: 375px;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
      &:nth-of-type(2) {
        .portfolio-project-img {
          background: url("/images/airGradesDesk.PNG");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
      &:first-of-type {
        margin-top: 0;
      }
      .portfolio-project-body {
        @media screen and (min-width: 1000px) {
          margin-left: vw(20, $design-width-desktop);
          margin-right: 0;
          flex-basis: 50%;
          max-width: 400px;
        }
        .portfolio-project-url {
          margin: vh(15) 0 vh(10) 0;
          a {
            font-family: "lato-bold";
            font-size: 26px;
            text-decoration: none;
            color: black;
            @media screen and (min-width: 1000px) {
              font-size: 20px;
            }
          }
        }
        .portfolio-project-tech {
          font-family: "lato-light";
          margin: vh(8) 0;
          font-size: 16px;
          @media screen and (min-width: 1000px) {
            font-size: 13px;
          }
          &:after,
          &:before {
            margin: vh(5) 0;
            content: " ";
            display: block;
            width: 75px;
            height: 0.5px;
            background: rgba(0, 191, 255, 0.75);
          }
        }
        .portfolio-project-description {
          font-family: "lato";
          font-size: 18px;
          line-height: vh(30);
          @media screen and (min-width: 1000px) {
            font-size: 14px;
          }
          @media screen and (orientation: landscape) {
            line-height: 24px;
          }
        }
      }
    }
  }
}
