.portfolio-project-wrapper {
  margin: 50px auto;
  @media screen and (min-width: 1000px) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 200px 0;

    &:nth-of-type(odd) {
      flex-direction: row-reverse;

      .portfolio-project-body {
        margin-right: 20px;
        margin-left: 0;
      }
    }
  }
  @media screen and (orientation: landscape) {
    margin: 75px 0;
  }

  .portfolio-project-img {
    width: 100%;
    height: auto;
    @media screen and (min-width: 1000px) {
      flex-basis: 50%;
      max-height: 500px;
      max-width: 375px;
    }
    img,
    video {
      height: 100%;
      width: 100%;
    }
  }
  &:nth-of-type(2) {
    .portfolio-project-img {
      background: url("/images/airGradesDesk.PNG");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  &:first-of-type {
    margin-top: 0;
  }
  .portfolio-project-body {
    @media screen and (min-width: 1000px) {
      margin-left: 20px;
      margin-right: 0;
      flex-basis: 50%;
      max-width: 400px;
    }
    .portfolio-project-title {
      margin: 15px 0 10px 0;
    }
    .portfolio-project-tech {
      font-family: "lato-light";
      margin: 8px 0;
      font-size: 14px;
      @media screen and (min-width: 1000px) {
        font-size: 14px;
      }
      &:after,
      &:before {
        margin: 5px 0;
        content: " ";
        display: block;
        width: 75px;
        height: 0.5px;
        background: rgba(0, 191, 255, 0.75);
      }
    }
    .portfolio-project-description {
      font-family: "lato";
      font-size: 16px;
      line-height: 30px;
      @media screen and (min-width: 1000px) {
        font-size: 16px;
      }
      @media screen and (orientation: landscape) {
        line-height: 24px;
      }
    }
    .portfolio-project-url {
      display: block;
      margin-top: 5px;
      color: $dark-grey;
      font-size: 12px;
    }
  }
}
