.portfolio-body-wrapper {
  height: 100vh;
  overflow-y: scroll;
  margin: 0 auto;
  width: 93%;
  opacity: 0;
  transition: all 0.35s ease;
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  &.active {
    opacity: 1;
    display: block;
  }
  @media screen and (min-width: 1000px) {
    margin-bottom: 95px;
    width: 90%;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 1300px) {
    width: 100%;
  }
}
