.vertical-timeline {
  padding: 0;
  width: 100%;
  @media screen and (max-width: 650px) {
    margin-left: 0 !important;
  }
  @media screen and (min-width: 768px) {
    margin: 0 !important;
  }
  @media screen and (max-width: 999px) {
    width: 80% !important;
  }
  @media screen and (min-width: 1000px) {
    width: 80% !important;
    margin: 0 auto;
    margin-left: 20px !important;
  }
  &:before {
    height: 98% !important;
  }
  .timeline-element {
    .vertical-timeline-element-icon {
      img {
        max-height: 25px;
        max-width: 35px;
      }
    }
    .vertical-timeline-element-content {
      margin-bottom: 30px;
    }
    &:first-of-type {
      .vertical-timeline-element-content {
        margin-top: 25px;
      }
    }
    &:last-of-type {
      .vertical-timeline-element-content {
        margin-bottom: 55px;
      }
    }
  }

  &:before {
    background: lighten($dark-grey, 60%) !important;
    width: 2px;
  }
}
.vertical-timeline-element-date {
  font-size: 11px !important;
  opacity: 1 !important;
  padding: 0 !important;
}
.timeline--image--container {
  width: 100%;
  margin: 10px 0;
  img,
  video {
    width: 100%;
    height: 100%;
  }
}
.vertical-timeline-element-title {
  color: $dark-grey;
  font-size: 18px;
}
.vertical-timeline-ul {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-left: 25px;
  font-size: 1.4rem;
  li {
    list-style-type: circle;
    flex-basis: 95%;
  }
}
.vertical-timeline-element-content {
  padding: 20px !important;
  padding-right: 10px !important;
  @media screen and (min-width: 1000px) {
    padding: 34px !important;
  }
  p {
    margin-top: 5px !important;
    color: $dark-grey;
    line-height: 31px;
    font-size: 16px !important;
  }
  h3 {
    font-family: "lato-light";
    margin: 8px 0;
    &:after,
    &:before {
      margin: 5px 0;
      content: " ";
      display: block;
      width: 75px;
      height: 0.5px;
      background: rgba(0, 191, 255, 0.75);
    }
  }
  h3,
  span {
    font-family: "lato-light";
    color: $dark-grey !important;
    @media screen and (min-width: 1000px) {
      font-size: 12px;
    }
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
      font-size: 18px;
    }
    @media screen and (max-width: 900px) and (min-height: 900px) {
      font-size: 16px;
    }
    @media screen and (max-width: 950px) {
      font-size: 13px;
    }
  }
  .timeline-element-header {
    h2 {
      @media screen and (min-width: 1000px) {
        font-size: 20px;
      }
      @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        font-size: 24px !important;
      }
      @media screen and (max-width: 900px) and (min-height: 900px) {
        font-size: 22px !important;
      }
      @media screen and (max-width: 1000px) {
        font-size: 18px;
      }
    }
  }
  .timeline-element-desc {
    margin-bottom: 5px;
  }
  .timeline-element-list {
    margin: 10px 0;

    margin-left: 20px;
    ul {
      line-height: 20px;
      li {
        font-family: "lato";
        color: #333;
      }
    }
  }
  .timeline-element-image {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 15px auto;
    a {
      display: block;
      height: 100%;
      width: 100%;
      img,
      video {
        height: 100%;
        width: 100%;
      }
    }
  }
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns {
    margin: 0 auto !important;
  }
  .vertical-timeline-element {
    margin: 7em 0 !important;
  }
}
