.mobile-nav-links {
  display: flex;
  position: relative;
  z-index: 5;
  position: absolute;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: $dark-grey;
  transform: translateY(-300%);
  transition: all 0.5s ease;
  padding-bottom: 20px;
  &.active {
    transform: translateY(0%);
  }
  a {
    ion-icon {
      transform: scale(1.5);
      margin-right: 10px;
    }
    font-family: "lato-light";
    color: $off-white;
    margin: 25px 20px;
    font-size: 20px;
    &:hover,
    &:active,
    &:focus {
      color: $blue;
    }
  }
  ion-icon {
    &:last-of-type {
      margin-left: 5px;
    }
  }
}
