.desktop-git {
  text-align: center;
  a {
    font-family: "lato-light";
    color: $off-white;
    ion-icon {
      transform: scale(1.5);
      margin-left: 5px;
    }
    &:hover,
    &:active,
    &:focus {
      color: $blue;
    }
  }
  @media screen and (min-width: 1000px) {
    margin-top: auto;
    margin-bottom: 20px;
  }
}
