.header {
  width: 100%;
  position: relative;
  background-color: transparent;
  display: block;
  height: 115px;
  transform: translateY(-100%);
  z-index: 21;
  @media screen and (min-width: 1000px) {
    transform: translateY(0);
  }
  @media (prefers-reduced-motion: reduce) {
    transform: translateY(0) !important;
  }
  @media screen and (min-width: 1000px) {
    background-color: $dark-grey;
    max-width: 385px;
    min-width: 366px;
    width: 385px;
    height: 100vh;
    position: relative;
    top: unset;
    left: unset;
    right: unset;
  }
}
