.desktop-nav-links {
  @media screen and (min-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
  a {
    top: 10px;
    color: $off-white;
    text-decoration: none;
    transition: all 0.35s ease;
    padding: 10px;
    margin: -10px;
    font-family: "lato-light";
    font-size: 14px;
    &:hover,
    &:active,
    &:focus {
      color: $blue;
    }
    @media screen and (min-width: 1000px) {
      margin: 35px 0;
      font-size: 20px;
    }

    @media screen and (min-width: 1000px) and (max-height: 800px) {
      margin: 10% 0;
    }
  }
}
.nav-link {
  opacity: 1;
  @media screen and (min-width: 1000px) {
    opacity: 0;
  }
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    opacity: 1;
  }
  @media (prefers-reduced-motion: reduce) {
    opacity: 1;
  }
}
