.vertical-timeline-element-content {
  max-width: 375px;
  border-radius: 5px !important;
  padding: 20px 13px !important;
  h2 {
    font-size: 1rem !important;
  }
  p {
    color: lighten(black, 40%);
    margin-top: 0 !important;
    font-size: 0.85rem !important;
    margin-bottom: 10px !important;
    text-align: center !important;
  }
}
.vertical-timeline--two-columns .vertical-timeline-element-content {
  padding: 13px !important;
  border-radius: 5px !important;
}
.vertical-timeline-element-icon {
  background-color: white !important;
  width: 35px !important;
  height: 35px !important;
  margin-left: 0px !important;

  @media only screen and (min-width: 700px) {
    left: 50% !important;
    margin-left: -17px !important;
  }
}
.vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
  @media only screen and (min-width: 700px) {
    top: 24px !important;
    left: 100% !important;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg) !important;
  }
}
.vertical-timeline--two-columns
  .vertical-timeline-element:nth-child(even):not(
    .vertical-timeline-element--left
  )
  .vertical-timeline-element-content-arrow {
  @media only screen and (min-width: 700px) {
    top: 24px !important;
    left: auto !important;
    right: 100% !important;
    -webkit-transform: rotate(0) !important;
    transform: rotate(0) !important;
  }
}
.vertical-timeline--two-columns
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  @media only screen and (min-width: 700px) {
    position: absolute !important;
    width: 100% !important;
    left: 105% !important;
    top: 6px !important;
    font-size: 16px !important;
    font-size: 1rem !important;
  }
}
.vertical-timeline--two-columns
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  @media only screen and (min-width: 1700px) {
    left: 140% !important;
  }
}
.timeline-element {
  &:first-of-type {
    .vertical-timeline-element-content {
      .vertical-timeline-element-date {
        left: 90% !important;
        @media only screen and (min-width: 1700px) {
          left: 125% !important;
        }
      }
    }
  }
}
.vertical-timeline--two-columns
  .vertical-timeline-element.vertical-timeline-element--right
  .vertical-timeline-element-content
  .vertical-timeline-element-date,
.vertical-timeline--two-columns
  .vertical-timeline-element:nth-child(even):not(
    .vertical-timeline-element--left
  )
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  @media only screen and (min-width: 700px) {
    left: auto !important;
    right: 130% !important;
    text-align: right !important;
  }
  @media only screen and (min-width: 1500px) {
    right: 140% !important;
  }
  @media only screen and (min-width: 1650px) {
    right: 165% !important;
  }
}
