.loader-hidden {
  display: none;
}
.loader {
  z-index: 9;
}
.loader-active {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.08'%3E%3Ccircle fill='%23ffffff' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23e5e9e6' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23ccd4ce' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23b3bfb6' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%239bab9f' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23839788' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");

  background-size: cover;
  background-color: white;
  span {
    color: $dark-grey;
    font-family: "lato-light";
    position: relative;
    top: -50px;
  }
}
.loading p {
  color: $blue;
}
.ball-grid-pulse > div {
  background: $blue;
}
